.type-btn {
  display: flex;
  button {
    margin-right: 10px;
    border: none;
    background-color: #2853ff;
    border-radius: 8px;
    width: 90px;
    height: 35px;
    color: #b6ddfc;
    padding: 5px;
    font-family: Raleway, sans-serif;
  }
}
